{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title> Homepage</title>
{% endblock title %}



{% block main_content %}



<!--Our Core values------------------------------------------------------------------------------------------------------------>
<div class=" container-fluid mt-5   pt-5  pb-5 " ">
    <div class="row d-flex bg justify-content-center">
    <h2 id="head2" class=" corevalues pb-5 d-flex   justify-content-center">OUR CORE VALUES</h2>
    <div class="row featurette d-flex   justify-content-center" >
      <div class="col-md-5 " >
          <div class="d-flex   justify-content-center pb-3" >
                        <img class="media_thumb" src="https://s-f.scribdassets.com/images/about/01_about_D_icon_value_01_people.svg?35195d874"
                             alt="" role="presentation">
          </div>
              <div class="media_text ">
                            <h5 id="head555" class="d-flex   justify-content-center">We are characters with
                                character.</h5>
                            <p class="d-flex justify-content-center"><strong>People:</strong> We value people above
                                everything else. We invest in our employees
                                and believe that diverse stories, ideas, and talents are what make us great.</p>
              </div>
      </div>
      <div class="col-md-5 pb-3">
          <div class="d-flex   justify-content-center pb-3" >
               <img class="media_thumb" src="https://s-f.scribdassets.com/images/about/01_about_D_icon_value_05_community.svg?35195d874"
                             alt="" role="presentation">
          </div>
                        <div class="media_text">
                        <h5 id="head5555" class="d-flex   justify-content-center">We are dedicated to
                            helping readers flourish.</h5>
                        <p class="d-flex justify-content-center"><strong>Community:</strong>
                            We care deeply about our customers. Our community is the soul of
                            the product and we work hard to understand and meet their needs.
                        </p>
                        </div>
      </div>
    </div>
</div>
</div>






{% endblock main_content %}