<!--{% extends 'layout.html' %}-->
<!--{% load bootstrap %}-->
<!--{% block title %}-->
<!--<title>Register Page</title>-->
<!--{% endblock%}-->
<!--{% block main_content %}-->

<!--<div class="container-fluid bg" style="width:100%; height:100%; ">-->
<!--    <div class="row d-flex justify-content-center pt-5 pb-5">-->
<!--                <div class="row pt-3 d-flex justify-content-center">{% include 'messages.html' %} </div>-->
<!--            <div class="card p-2" id="myFormR" >-->
<!--                <form class="form myForm" action="" method="POST">-->
<!--                    <h3 id="head3" class="text-center mt-2 mb-2">Register</h3>-->
<!--                    {% csrf_token %}z-->
<!--                    {{ form_user | bootstrap_horizontal }}-->
<!--                    <div id="btnn" class="pb-2 pt-2">-->
<!--                    <button type="submit" class="btnn btn btn-primary" style="line-height:0.8; width:100%">Submit</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script>-->
<!--    var form_fields = document.getElementsByTagName('input')-->
<!--    form_fields[1].placeholder = "Enter Username";-->
<!--    form_fields[2].placeholder = 'Enter Address';-->
<!--    form_fields[3].placeholder = 'Enter Password';-->
<!--    form_fields[4].placeholder = 'Enter Password';-->

<!--    for (var field in form_fields){-->
<!--    form_fields[field].className += ' my-2'-->
<!--    }-->
<!--</script>-->
<!--{% endblock %}-->



